
/* Parallax */

.bgimg-1 {
  background-image: url("../img/background2.jpg");
  height:850px;
}

.bgimg-2 {
  background-image: url("../img/expertise.jpg");
}

.bgimg-3 {
  background-image: url("../img/listings.jpg");
}

.bgimg-4 {
  background-image: url("../img/past_sales.jpg");
}

.bgimg-5 {
  background-image: url("../img/neighborhood.jpg");
}

.bgimg-6 {
  background-image: url("../img/contact.jpg");
}

/* on non-tall cells, change positioning and height */
@media(max-height:670px){
  .bgimg-1{
    height:700px;
  }
}

/* Elements between the parallax images */

.mission_text, .expertise_text, .addresses, .neighborhood_title, .neighborhood_text, .contact_options{
  font-weight:400; 
  font-family:Exo; 
  padding:20px;
  line-height:2;
  font-size: 17px;
  text-align: center;
  color:white;
  list-style: none;
  letter-spacing: 2px;
}

.expertise_text{
  padding: 5px;
}

.contact_options{
  font-size:30px;
}

.neighborhood_text{
  font-size:12px;
  padding-top:0;
  text-align: left;
  line-height:2;
  letter-spacing: 0;
}

.neighborhood_title{
  padding-top:0;
  font-size:21px;
}

.asset_link, .addresses, .contact_options a{
  color:white;
}

.asset_link:hover, .addresses:hover, .contact_options a:hover, .asset_link:focus, .addresses:focus, .contact_options a:focus{
  color:rgb(209,164,35);
  text-decoration: none;
}

@media(min-width:768px){
  .mission_text{
    font-size: 20px;
  }

  .expertise_text, .neighborhood_title{
    font-size:30px;
  }

  .contact_options{
    font-size: 50px;
    padding:0 150px;
  }
}

.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
  } /*so when we click it, it goes to the right place*/



/* Listings */
.listings{
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.listing-img img{
  width: 280px;
}

.listing-description{
  flex: 4;
  padding: 10px 30px;
  text-align: center;
}

.listing-text{
  color: white;
  padding: 10px 0px;
  font-size: 20px;
}

.listing-address{
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.listing-address:hover{
  color: white;
}

.more-details-button{
  margin-top: 5px;
  display: block;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px;
  transition: .5s;
  width: 140px;
  text-align: center;
  cursor: pointer;
}

.more-details-button:hover, .more-details-button:focus{
  background: white;
  color:black;
  text-decoration: none;
}

.addresses{
  padding:0;
  margin:5px;
  font-size:11px;
}

@media(min-width:500px){
  .listing-img img{
    width: 480px;
  }
}

@media(min-width:1200px){
  .listings{
    flex-direction: row;
  }

  .listing-description{
    text-align: left;
    padding: 0px 30px;
  }
}

@media(min-width:475px){
  .addresses{
    font-size:16px;
  }
}

@media(min-width:768px){
  .addresses{
    font-size:20px;
  }
}

.flyer {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  padding:10px 20px;
}


.flyer_hover {
  position: relative;
}

.flyer_hover:hover .flyer, .flyer_hover:focus .flyer {
  opacity: 0.3;
}

.flyer_hover:hover .more_details, .flyer_hover:focus .flyer {
  opacity: 1;
}

.more_details {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color:black;
  color:white;
  padding:20px;
}

.more_details>a{
  color:white;
}

.more_details>a:hover, .more_details>a:focus{
  color:rgb(209,164,35);
  text-decoration: none;
}

.listing_details{
  padding-left:0;
  color:white;
  list-style: none;
  letter-spacing: 2px;
  font-size:12px;
}

/* HRs */
hr{
  margin-top:10px;
  margin-bottom:0px; 
  height:20px
}

hr.style1{
overflow: visible; /* For IE */
height:50px;
border-style: solid;
border-color: white;
border-width: 4px 0 0 0;
border-radius: 20px;
margin-top:20px;
}

hr.style1:before { /* Not really supposed to work, but does */
display: block;
content: "";
height: 30px;
margin-top: -31px;
border-style: solid;
border-color: white;
border-width: 0 0 4px 0;
border-radius: 20px;
}

