/* *{
  box-sizing: border-box;
} */

body, html{
  text-align: center;
  height: 100%;
  font-family: Exo;  
  background-color:black;
  margin:0;
  scroll-behavior: smooth;
}

p{
  margin: 0;
}

/***** LOGO ******/

/* on mobile, dont show the logo - it'll just be the navbar. on desktop, show */
.logo{
  display: none;
  background-color: black;
  position: absolute;
  z-index: 3000;
  height:0;
}

#daniel_logo
{
  display:none; 
  position: absolute;
  background-color: rgba(0,0,0,0);
}

@media(min-width: 768px){
  #daniel_logo{
    width:300px;
    height:150px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5000;
  }
  
  .logo{
    width: 100%;  
    height:150px;
    display: block;
  }
}

@media(min-width: 850px){
  #daniel_logo{
    height:150px;
    width:375px;
  }
}

/***** NAVBAR ******/

/*Basic nav settings*/
nav{
  font-size:12px;
  letter-spacing: 1px;
}

@media(min-width: 850px){
  nav{
    font-size:13px;
  }
}

@media(min-width:1000px){
  nav{
    font-size:13px;
  }

  .nav>li>a{
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media(min-width: 768px){
  .navbar-nav{
    float:none;
    display: inline-block;
  }
}/* this somehow keeps it centered */

.navbar-fixed-top{
  z-index: 4000;
  top:0px;
  position:absolute;
}

@media(min-width: 768px){
  .navbar-fixed-top{
    top:140px;
  }
}

.navbar{
  background-color: black;
  border:none;
}

.navbar>.container{
  padding:0;
} /*so that the other container property doesnt change the nav*/


.affix{
  position:fixed;
  top:0;
  right:0;
  border-bottom:4px solid rgb(209,164,35);
}

.nav>li.search_option, .search_option{
  display: none;
} /*this cant be displayed as an option on small phones*/

@media (min-width:950px){  
  .nav>li.search_option{
    display: block;
  }

  .search_option{
    display:inline;
  }
}

/* BRANDS */
.navbar-brand{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  font-family: Mina;
  color: rgb(242,242,222);
  padding:0 0;
  padding-top:10px;
  z-index: 6000;
  display: block;
}

.navbar-brand img{
  width:50px;
  height:30px;
  background-color: none;
}

.navbar-bra{
  display:none;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  font-family: Mina;
  color: rgb(242,242,222);
  padding-top:10px;
  z-index: 6000;
  padding-top:10px;
}

.navbar-bra img{
  width:50px;
  height:30px;
  background-color: none;
}

.navbar-nav>li>a.navbar-bra{
  padding: 0 0;
  padding-top:10px;
}

.nav>li.showit{
  display:none;
}

.nav>li.dontshow{
  display: none; 
}

.navbar-default .navbar-nav>li.dontshow.showit > a:focus, .navbar-default .navbar-nav>li.dontshow.showit > a:hover{
  background-color:transparent;
}

@media(min-width:768px){
  .navbar-brand{
    display: none;
  } 
  
  .nav>li.showit{
    display:block;
    pointer-events:auto;
  }
}

/* DROPDOWN MENU SETTINGS */
.dropdown-menu{
  font-size:12px;
  padding:9px;
  border:none;
  background-color: black;
}

.dropdown-menu .divider{
  background-color: rgb(209,164,35);
}

.navbar-default .navbar-collapse{
  border-color:rgb(209,164,35);
}

.navbar-nav .open .dropdown-menu{
  background-color: black;
}

.dropdown-menu>li>a{
  transition: background-color .3s;
  color:rgb(209,164,35);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color: rgb(209,164,35);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: white;
  text-align: center;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:active{
  background-color: rgb(209,164,35);
  color:black;
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* TOGGLE */
.navbar-default .navbar-toggle{
  z-index:3;
  background-color: rgb(209,164,35);
  transition: background-color .5s;
  border-color:black;
  margin-left:20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}


/* LI and A elements */
.navbar-default .navbar-nav>li>a{
  transition: background-color .3s;
  color: rgb(209,164,35);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  background-color: rgb(209,164,35);
  color:black;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
  color:black;
}

/* NAVBAR EFFECTS */
.navbar-brand, ul a {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  font-family: Mina;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}

/* FOOTER */
footer{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 5px;
  border-top:4px solid rgb(209,164,35);
}

footer p{
color:rgb(209,164,35);
margin-bottom: 0;
font-weight: normal;
padding-top: 6px;
font-size: 14px;
font-family: Mina;
}

footer .row{
  margin:0;
}

#left{
  text-align: right;
}

#right{
  text-align: left;
}

#middle{
  text-align: center;
}

footer a{
color: rgb(209,164,35);
text-decoration: none;
}

footer a:hover, footer a:focus{
text-decoration: none;
color:white;
}

@media(min-width: 768px){
  footer p {
  font-size: 18px;
  }
}

.created_by{
  background-color: rgb(209,164,35);
  text-align:center; 
  color:black; 
  margin-bottom:0;
  margin-top:0; 
  padding-top:5px; 
  padding-bottom:5px; 
  font-size:12px; 
  font-family:Mina; 
  font-weight:700;
}

@media(min-width:768px){
  .created_by{
    font-size: 14px;
  }
}

/* Parallax */
.parallax{
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.caption {  
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-family:Mina; 
  font-weight: 700;
  color: white;
  /* text-transform: uppercase; */
  /* text-shadow: 1px 1px rgb(209,164,35); */
}

.caption .title {
  background-color: black;
  color: #fff;
  padding: 18px;
  font-size: 20px;
  letter-spacing: 5px;
}

@media (min-width:768px){
  .caption .title {
    font-size: 30px;  
    letter-spacing: 10px;
  }
}

/* on non-tall cells, change positioning and height */
@media(max-height:670px){
  .caption{
    top:45%;
  }
  
  .parallax{
    height:300px;
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .parallax{
    background-attachment: scroll;
  }
}

/* Elements between the parallax images */
.boxes{
  border-radius: 10px;
  background-color:white;
  border: 5px solid black;
  margin: 10px auto;
}

/* CONTAINER */
.container{
  background-color: black;
  padding:30px;
}

main .container{
  background-color: white;
}

.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
  } /*so when we click it, it goes to the right place*/

  .title-caption{
    margin: 0;
    color: black;
    background: white;
    width: 250px;
    margin: auto;
    padding: 15px 0px;
    font-weight: bold;
    /* border: 5px solid black; */
  }

@media(min-width: 768px){
  .container{
     width:100%;
   }
 }
 
 .thumbnail{
  padding-top:15px;
}

/* On other pages */
.other.container{
  background-color: white;
}

.heading, .text{
  font-weight:400; 
  font-family:Exo; 
  padding:20px;
  line-height:2;
  font-size: 17px;
  text-align: center;
  color:black;
  list-style: none;
  letter-spacing: 2px;
}

.text{
  font-size:12px;
  padding-top:0;
  text-align: left;
  line-height:2;
}

.heading{
  padding-top:0;
  font-size:21px;
}

@media(min-width:768px){
  .heading{
    font-size:30px;
  }

  .text{
    font-size:14px;
  }
}

.nikmash{
  color: black;
}

.nikmash:hover, .nikmash:focus{
  color:black;
}