/*dont let them access it on mobile */
#idxFrame{
  width:933px;
  height:900px;
  display:none;
  text-align: center;
}

@media (min-width:950px){
  #idxFrame{
    display: block;
  }
}

.bgimg-1 {
  background-image: url("../img/search.png");
  height:850px;
}

/* on non-tall cells, change positioning and height */
@media(max-height:670px){
  .bgimg-1{
    height:700px;
  }
}